---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Company Profile | Bina Anugerah Sukses',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Your IT Solution"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Hubungi Kami',
        href: '#contact',
        icon: 'tabler:phone',
      },
      { text: 'Pelajari Lebih Lanjut', href: '#services' },
    ]}
  >
    <Fragment slot="title">
      Kembangkan bisnis anda dengan solusi <span class="text-green-700 highlight hidden md:inline">
        Informasi Teknologi
      </span>
      <span class="text-green-700 highlight md:hidden">Teknologi</span>
      <span class="hidden md:inline">yang kami berikan sekarang juga!</span><span class="md:hidden">kami!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Jadikan bisnis kamu semakin maju bersama <span class="font-bold"> Bina Anugerah Sukses</span>, raih kesempatan
      untuk berkembang!
    </Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/1aOVOaTD7Ms?si=wXAoZ-IMSurIYFWO&"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <!-- About Us Section ************** -->

  <Features2
    title="Tentang Kami"
    subtitle="Bina Anugerah Sukses, mitra terpercaya untuk solusi IT Anda. Sebagai perusahaan yang bergerak di bidang IT dengan pengalaman lebih dari 10 tahun, kami berkomitmen untuk membantu Anda mencapai tujuan bisnis Anda melalui solusi IT yang inovatif dan terdepan."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent" id="about"></div>
    </Fragment>
  </Features2>

  <!-- Service Section ****************** -->
  <div id="services">
    <Features2
      title="Layanan apa yang kami berikan ?"
      subtitle="Kami menyediakan beberapa layanan untuk memenuhi kebutuhan bisnis anda, seperti pengembangan aplikasi, pemasangan perangkat keras, hingga manajemen media sosial bisnis anda."
      items={[
        {
          title: 'IT Consultant',
          description:
            'Kami siap membantu Anda menganalisis kebutuhan IT dan memberikan solusi yang tepat sasaran, juga hemat biaya.',
          icon: 'flat-color-icons:document',
        },
        {
          title: 'Training Center',
          description:
            'Kami menyediakan berbagai program pelatihan IT yang dirancang untuk meningkatkan keterampilan dan pengetahuan Anda, juga karyawan Anda.  ',
          icon: 'flat-color-icons:template',
        },
        {
          title: 'Network Development',
          description:
            'Kami merancang, membangun, dan memelihara jaringan komputer yang aman dan andal untuk bisnis Anda.',
          icon: 'flat-color-icons:cell-phone',
        },
        {
          title: 'Outsourcing IT',
          description:
            'Kami menyediakan staf IT profesional untuk membantu Anda mengelola infrastruktur IT Anda, sehingga Anda dapat fokus pada hal lain yang lebih penting.',
          icon: 'flat-color-icons:voice-presentation',
        },
        {
          title: 'Software Development',
          description: 'Kami membuat aplikasi perangkat lunak yang sesuai dengan kebutuhan dan anggaran Anda.',
          icon: 'flat-color-icons:multiple-devices',
        },
        {
          title: 'General Supplier',
          description: 'Kami menyediakan berbagai macam produk IT, seperti Hardware hingga CCTV',
          icon: 'flat-color-icons:shipped',
        },
      ]}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Features2>
  </div>

  <!-- Portofolio Section ****************** -->
  <div id="portfolio">
    <Brands
      title="Mitra & Kolaborasi"
      subtitle="Kami sudah memiliki kerja sama dengan perusahaan ternama, untuk memberikan solusi yang terbaik."
      icons={[]}
      images={[
        {
          src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
          alt: 'Microsoft',
        },
        {
          src: 'https://www.maedtra-tech.com/wp-content/uploads/2023/10/mikrotik-removebg-preview.png',
          alt: 'Mikrotik',
        },
        {
          src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Cisco_logo_blue_2016.svg/2560px-Cisco_logo_blue_2016.svg.png',
          alt: 'Cisco',
        },

        {
          src: 'https://logos-world.net/wp-content/uploads/2020/09/Oracle-Logo.png',
          alt: 'Oracle',
        },
        {
          src: 'https://cdn.techinasia.com/data/images/TbuCOvC8OiGyqoNekEVy9drAwcZlVL5u8ahGhS9X.png',
          alt: 'Compnet',
        },
        {
          src: 'https://www.pertamina.com/Media/Image/Pertamina.png',
          alt: 'Pertamina',
        },
        {
          src: 'https://diabetes-indonesia.net/wp-content/uploads/2023/03/logo-dinkes-balikpapan.png',
          alt: 'Diskes Balikpapan',
        },
        {
          src: 'https://www.lintasarta.net/wp-content/themes/lintasarta-theme/assets/img/logo.png',
          alt: 'Lintasarta',
        },
        {
          src: 'https://images.glints.com/unsafe/glints-dashboard.s3.amazonaws.com/company-photos/bae3d56249aa1754fb16794b3f4893b1.png',
          alt: 'Satnetcom',
        },
      ]}
    />
  </div>

  <!-- Contact Section ************** -->
  <div id="contact">
    <Features3
      title="Bagaimana kami bisa membantu bisnismu"
      subtitle="Kami di sini untuk membantu dan menjawab pertanyaan apa pun yang Anda miliki."
      columns={4}
      items={[
        {
          title: 'Phone',
          icon: 'tabler:phone',
          callToAction: {
            target: '_blank',
            text: 'Call us',
            href: 'tel:+6285349828080',
            variant: 'link',
          },
        },
        {
          title: 'Email',
          icon: 'tabler:mail',
          callToAction: {
            target: '_blank',
            text: 'Write to us',
            href: 'mailto:admin@binaanugerahsukses.com',
            variant: 'link',
          },
        },
        {
          title: 'Chat with sales',
          icon: 'tabler:message-circle',
          callToAction: {
            target: '_blank',
            text: 'Start chatting',
            href: 'https://wa.me/6281528339901?text=Halo%20saya%20ingin%20berbicara%20dengan%20Admin%20BAS',
            variant: 'link',
          },
        },
        {
          title: 'Chat with support',
          icon: 'tabler:message-circle',
          callToAction: {
            target: '_blank',
            text: 'Start chatting',
            href: 'https://wa.me/6281528339901?text=Halo%20saya%20mau%20berbicara%20dengan%20Support%20BAS',
            variant: 'link',
          },
        },
      ]}
    />
  </div>

  <!-- CallToAction Widget *********** -->
  <div
    class="max-w-5xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600 mb-5"
  >
    <h1 class="mb-3 font-bold text-2xl">Come to our office!</h1>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.883236989246!2d116.89510227599771!3d-1.2404941355799148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2df14509d1de543b%3A0xbbe9c3d120d51df5!2sBina%20Anugerah%20Sukses!5e0!3m2!1sid!2sid!4v1707067810351!5m2!1sid!2sid"
      class="w-full"
      height="450"
      style="border:0;"
      allowfullscreen="true"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Layout>
