---
import { SITE } from '~/utils/config';

import logo from '../assets/images/logo.png';
---

<div class="flex items-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 dark:text-white">
  <img src={logo.src} alt="A company logo" class="w-14 h-7 mr-2" />
  <span class="md:hidden lg:block">
    {SITE?.name}
  </span>
</div>
