---
import TrainingCard from './TrainingCard.astro';

const allTrainings = await Astro.glob('../../pages/training/*.md');
---

<div class="mx-2 justify-center md:flex">
  {allTrainings.map((training) => <TrainingCard frontmatterData={training.frontmatter} url={training.url} />)}
</div>
